extends ../layout

include ../feedback/index

block content
    section(class='container-fluid')
      h2 Register
      form(method='POST', action='/register')
        div(class='input-group col-12 m-3')
          div(class='input-group-prepend')
            span(class='input-group-text') Name
          input(class='form-control mr-3 rainbow', name='name', type='text', placeholder='John', required="")
        div(class='input-group col-12 m-3')
          div(class='input-group-prepend')
            span(class='input-group-text') Surname
          input(class='form-control mr-3 rainbow', name='surname', type='text', placeholder='Doe', required="")
        div(class='input-group col-12 m-3')
          div(class='input-group-prepend')
            span(class='input-group-text') Email
          input(class='form-control mr-3 rainbow', name='email', type='email', placeholder='something@example.com', required="")
        div(class='input-group col-12 m-3')
          div(class='input-group-prepend')
            span(class='input-group-text') Password
          input(class='form-control mr-3 rainbow', name='password', type='password', placeholder='3xampl3', required="")
        div(class='input-group col-12 m-3')
          div(class='input-group-prepend')
            span(class='input-group-text') Confirm Password
          input(class='form-control mr-3 rainbow', name='passwordConfirm', type='password', placeholder='confirm password', required='')
        button(class='btn btn-primary login__btn',style="margin-left:1.9rem", type='submit') Register
        a(class='ml-2 btn btn-default', href="/login") Log In
      if feedback
        +feedback(feedback, 'warn')