extends ../layout

include ../feedback/index

block content
    section(class="container-fluid")
      form(method='POST', action='/login', class='col-12')
        div(class='input-group col-12 m-3')
          div(class='input-group-prepend')
            span(class='input-group-text') Email
          input(class='form-control rainbow', name='email', type='email', placeholder='something@example.com', required='')
        div(class='input-group col-12 m-3')
          div(class='input-group-prepend')
            span(class='input-group-text') Password
          input(class='form-control rainbow', name='password', type='password', placeholder='3xampl3', required='')
        button(class='btn btn-primary login__btn', style="margin-left:1.9rem" type="submit") Log In
        a(class='ml-2 btn btn-default', href="/register") Register
        if feedback
          +feedback(feedback, 'error')