extends ../layout

include ../feedback/index
include ../search/index

block content
    +search
    section(class="tracks container-fluid")
        h3(class="title") TRACKS
        a(class="btn-sm btn-secondary" href="/home") Go Home
        ul
            each track in tracks
                li(class="row d-flex justify-content-center")
                    a(href=`/search-song&${track.id}` class="pr-3")= track.name
        if feedback
            +feedback