extends ../layout

include ../feedback/index
include ../user/index

block content
  section.home
    | Welcome, 
    +user(user.name)
    if feedback
        +feedback(feedback, 'warn')
    form(method='POST', action='/search')
      input(type='text',name='query', placeholder='Search an artist...')
      button(type='submit') Search
    form(action='/logout', method='post')
      button(type='submit') Logout