extends ../layout

include ../feedback/index
include ../user/index
include ../search/index

block content
  section(class="col-12")
    +user(user.name)
    if feedback
        +feedback(feedback, 'warn')
    +search