extends ../landing-layout

block content
  section(class="d-flex justify-content-center" style="font-size:1.5rem")
    a(href='/login' class="mr-2") Login
    |  or 
    a(href='/register' class="ml-2") Register