extends ../layout

include ../feedback/index
include ../search/index

block content
    +search
    section(class="container-fluid center")
        h3(class="title center d-flex justify-content-center") ARTISTS
        a(class="btn-sm btn-secondary" href="/home") Go Back
        ul(class="row d-flex justify-content-center")
            each artist in artists
                li(class="card col-md-4 col-xl-3 col-7 m-1 p-3 pb-4 shadow-sm card-hover")
                    a(href=`/search-artist&${artist.id}` class='card-title text-center')= artist.name
                            if artist.images[0]
                                img(src=`${artist.images[0].url}` class='card-img-top center rounded artist__image' width="100px")
                            else 
                                img(src=`https://www.bensound.com/bensound-img/happyrock.jpg` class='card-img-top center rounded artist__image' width="100px")
        if feedback
            +feedback