extends ../landing-layout

include ../feedback/index

block content
    section.not-found
        h2(class="m-3") NOT FOUND
        p(class="m-3")
            | Go   
            a(href='/' style="font-size:1.5rem") Home