%margin-center
    margin-left: auto
    margin-right: auto
    
main
    font-family: 'Major Mono Display', monospace
.container-fluid
    padding:0
.row
    justify-content: center
.card-img-top
    width: 80%
.artist__image
    @extend %margin-center
.album__image
    @extend %margin-center
    border-radius: 10rem
.card-hover:hover
    border-width: 3px
.popover-body
    padding: 0
.title
    display: unset
    background-color: gray
    color: white
    @extend %margin-center

li 
    text-decoration: none
#login__btn
    margin-left: 1.9rem