@import ../panel

.img--hover:hover
    width: 150%
.card-album
    border-radius: 20% !important
.album__image
    border-radius: 50%
.card-img-top
    border-top-left-radius: 1% !important
    border-top-right-radius: 50% !important